@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inter:wght@300;400;500;700&display=swap');
body{
    background-color: #F8F4EA;
    margin: 0;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #F8F4EA;
    line-height: 80px;
}
nav img{
    margin-top: 15px;
    margin-left: 30px;
}
nav ul{
    float: right;
    height: 80px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}
nav ul li{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    background-color: #F8F4EA;
}
nav ul a:hover{
    color: #784831;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 30px;
    margin-bottom: 0;
}
#history{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
}
#grid1 {
    display: grid;
    margin: 0;
    grid-template-columns: 800px 1fr;
}
#grid1 p{
    text-align: center;
    margin:0;
    padding:100px;
    line-height: 70px;
}
#grid1 #describe{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}
#grid1 img{
    display: flex;
    place-items: center;
    align-items: center;
    padding-top: 60px;
}
#share {
    background-color: #784831;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    min-height: 60px;
    min-width: 170px;
    font-size: 28px;
    font-weight: 700;
}
#share:hover {
    transform: scale(1.3);
    transition: .7s;
}
@keyframes logo-ani {
    0% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
#game_logo {
    perspective: 1000px;
    animation: logo-ani 5s infinite linear;
}
.titleBig {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: 700;
    text-align:center;
    padding-top: 150px;
    padding-bottom: 50px;
}
#grid2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    padding-top: 70px;
    padding-right: 200px;
    font-family: 'Inter', sans-serif;
}
#grid3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    padding-left: 200px;
    padding-top: 2rem;
    font-family: 'Inter', sans-serif;
}
.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;
    align-self: start;
}
.content{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    align-self: end;
}
.image {
    justify-self: end;
}
.image3 {
    justify-self: left;
}
.both {
    margin: 0;
}
.video_wrap {
    position: relative;
	padding-bottom: 25px; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video_wrap iframe {
    margin:auto;
    display:block;
}

footer{
    border-top: 1px solid #e4e4e4;
    background-color:#f8f9fa;
    padding:1rem 0;
    margin:1rem 0;
    margin-top: 600px;
    margin-bottom: 0;
}
.footer-message{
    font-weight: bold;
    font-size:0.5rem;
    color:#545e6f;
    margin-bottom:0.3rem;
    margin:0 0 0 0.6rem;
}
.footer-insta {
    font-size:0.5rem;
    color:#545e6f;
    margin:0.6rem;
}
.footer-contact{
    font-size:0.5rem;
    color:#545e6f;
    margin:0.6rem;
}
.footer-copyright{
    font-size:0.5rem;
    color:#545e6f;
    margin:0.6rem;
}
